@import url("https://fonts.googleapis.com/css?family=Lobster|Montserrat|Oswald");
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700');

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.top-node {
  background-color: #161616;
  color: #666;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Sans', sans-serif;
}

/* Mobile menu */
#mobileMenuWrapper,
#closeMobileMenuButton,
#hamburgerWrapper {
  display: none;
}

#card-2,
#card-3,
#card-4 {
  margin-bottom: 100px;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
}




/* Home section */
#mainSection {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

#menuBarWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 110;
  padding: 20px 30px;
}

.scrolled-nav-background {
  background-color: rgb(197, 197, 197);
}

.menuLinkAnchors,
.logo a {
  transition: all ease-in-out 120ms;
  color: #fff;
}

.menuLinkAnchors:hover,
.logo a:hover {
  color: #97730e;
}

#logoContainer {
  align-items: center;
  justify-content: center;
  display: flex;
}

#logoContainer .logo {
  font-size: 3rem;
  color: #fff;
  font-family: "Lobster", cursive;
}

#logoWrapper .logo {
  color: #fff;
  font-family: "Lobster", cursive;
  transition: all ease-in-out 200ms;
  font-size: 6rem;
  letter-spacing: 1px;
}

#logoWrapper .logo:hover {
  color: #b27300;
}


#menu {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.menuLinks {
  font-size: 24px;
  padding: 5px 15px;
  font-weight: 600;
}

.menuLinkAnchors {
  color: #fff;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.menuLinkAnchors:hover {
  color: #97730e;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 125px auto 0 auto;
}

.name,
.title {
  letter-spacing: -1px;
  font-size: calc(5.5rem + 3vw);
  color: rgb(255, 255, 255);
  z-index: 1;
  text-shadow: -5px 5px 15px #0c0c0c;
}

.name {
  font-size: 3rem;
  color: #97730e;
}

.nameContainer span {
  display: inline-block;
  transition: all 400ms cubic-bezier(.19, .84, 1, 1);
  font-family: 'IBM Plex Sans', sans-serif;
}

.nameContainer span:hover {
  transform: translate(0, -25px);
  color: #97730e;
  cursor: default;
}

.workButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workButton {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workButton a {
  font-size: 2.5rem;
  padding: 15px 25px;
  background: #97730e;
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: capitalize;
  transition: all ease-in-out 125ms;
}

.workButton a:hover {
  color: #fff;
}

.workButtonLine {
  width: 60%;
  height: 5px;
  background: #97730e;
}

#mainSection .scroll-button {
  width: 100%;
  height: 75px;
}

#mainSection .scroll-button:hover {
  color: #97730e;
  transition: all 0.2s ease-in-out;
}

#mainSection .scroll-button {
  position: relative;
  z-index: 2;
  display: inline-block;
  text-decoration: none;
  transition: opacity 0.3s;
  text-align: center;
  width: 60px;
  margin: 0 auto;
}

#mainSection .scroll-button span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

#mainSection .scroll-button span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #97730e;
  border-radius: 100%;
  -webkit-animation: wheelScrolled 2s infinite;
  animation: wheelScrolled 2s infinite;
  box-sizing: border-box;
}

#mainSection .scroll-button span:hover {
  border: 2px solid #97730e;
  transition: all 0.2s ease-in-out;
}

#mainSection .company-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-icons li {
  display: flex;
  align-items: center;
  padding: 0 5px;
}
#mainSection .company-icons li .fa-envelope {
  padding: 0;
}
/* Skills Section */

#card-2 {
  width: 100%;
  position: relative;
  z-index: 100;
  height: 500px;
  display: flex;
}

.multi-color-bg {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  align-content: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.skills {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  box-sizing: border-box;
  flex-basis: 15%;
  transition: all ease 300ms;
  min-width: 100px;
}

.skills:hover .fa-js {
  color: #f0db4f;
}

.skills:hover .fa-css3-alt {
  color: rgb(38, 77, 228);
}

.skills:hover .fa-drupal {
  color: rgb(0, 114, 192);
}

.skills:hover .fa-html5 {
  color: #e54c21;
}

.skills:hover .fa-git-square {
  color: rgb(240, 80, 51);
}

.skills:hover .fa-github {
  color: rgb(184, 184, 184);
}

.skill-title {
  color: #fff;
  margin: 0px 2px;
  font-size: 2rem;
  letter-spacing: 1px;
  transition: all ease 300ms;
}

.fa-drupal,
.fa-js,
.fa-html5,
.fa-css3-alt,
.fa-github,
.fa-git-square {
  font-size: 100px;
  color: #fff;
  transition: all ease 300ms;
}

.skill-card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.card-title {
  font-size: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-transform: capitalize;
  padding: 10px 0;
  color: #97730e;
}


.card-4.card-description {
  width: 70%;
  text-align: left;
  letter-spacing: 2px;
  line-height: 40px;
  padding: 20px;
  font-size: 26px;
  color: #ffffff;
  font-weight: 600;
}

.name {
  font-size: 26px;
  color: #97730e;
}

/* Start of Card3 / projects */
#card-3 {
  width: 90%;
  margin: 0 auto 150px auto;
  padding: 10px 10px 100px 10px;
  box-sizing: border-box;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 80vh;
  margin: 100px 0 150px 0;
}

.project-cards:nth-child(even) {
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.small-project-container,
.big-project-container {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  opacity: 0;
  height: 100%;
}

.project-link {
  grid-row: 1/9;
  grid-column: 3/12;
  z-index: 10;
}

.project-link.keehn {
  grid-row: 1/11;
  grid-column: 1/9;
}

.big-project-container {
  grid-row: 1/11;
  grid-column: 1/9;
}

.small-image-container,
.big-image-container {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  box-sizing: border-box;
  margin: 10px;
  position: relative;
}

.small-image-container img {
  width: 100%;
}

.big-project-container:nth-child(even) {
  flex-direction: row-reverse;
  grid-row: 2/11;
  grid-column: 1/9;
}

.project-description {
  position: relative;
  font-size: 8rem;
  color: #97730e;
  border: 4px solid #97730e;
  box-sizing: border-box;
  background: #fff;
  z-index: 11;
  opacity: 0;
  letter-spacing: 2px;
  font-weight: bold;
  grid-row: 4/7;
  grid-column: 1/5;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.placeholder-project .project-description {
  grid-row: 2/5;
}

.project-cards:nth-child(even) .project-description {
  grid-column: 7/11;
}

.big-image-container img {
  width: 100%;
  height: 100%;
}

.scrolled-nav-background {
  background: rgb(160, 160, 160);
  transition: all 300ms ease-in-out;
  box-shadow: 0px 0px 5px 0px #888484;
}

.fast-fall-from-top {
  animation: fast-fall-from-top 500ms ease-in-out 700ms;
  visibility: visible;
  animation-fill-mode: forwards;
}


#card-4 {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  transform: translateY(-10%);
  padding: 20px;
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto 150px auto;
}


.about-me-description-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-4-container {
  display: flex;
  box-shadow: 0px 20px 20px -5px #00000070;
  opacity: 0;
  flex-flow: row wrap;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.contact-container,
.about-me-container {
  width: 100%;
  box-sizing: border-box;
}

.contact-container .card-description {
  width: 80%;
}

.card-4-ul {
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0;
}

.card-4-ul li {
  list-style-type: none;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.email {
  font-size: 26px;
  color: #fff;
  text-decoration: none;
  transition: all ease 300ms;
  padding-bottom: 20px;
}

.email:hover {
  color: #97730e;
}

.card-4.card-title {
  border: none;
  background: none;
}

/* Footer */
#footer {
  width: 100%;
  height: 400px;
}

#mainFooter {
  width: 100%;
  display: flex;
  padding: 150px 0 0 0;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 100px;
}

#mainFooter .footerLinks {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 10px;
  border-top: 2px solid #1d1d1d;
}

#mainFooter .footerLinks li {
  list-style: none;
  transition: all ease 300ms;
}

#mainFooter .footerLinks li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

#mainFooter .footerLinks li a:hover {
  text-decoration: underline;
  color: #d8d7d7;
}

.company-icons i {
  font-size: 30px;
  display: flex;
  color: white;
  transition: all ease 300ms;
}
.company-icons .email {
  padding-bottom: 0;
}


#mainFooter .company-icons {
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.company-icons li {
  list-style: none;
  /* padding-right: 5px; */
}

.company-icons li a {
  text-decoration: none;
}

#mainFooter #logoWrapper {
  padding-bottom: 40px;
}

.icon-container {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 30px;
  transition: all ease 300ms;
}

.icon-container:hover {
  background-color: #fff;
}

.icon-container:hover i {
  color: #b17200;
}

.footerLinks li a i {
  padding-right: 10px;
}

.copyright {
  color: #fff;
  width: 50%;
  display: flex;
  justify-content: center;
}

.copyright p {
  margin: 0;
}


/* Animations Classes */
.fall-in-animation {
  animation: fall-from-top 2s ease 0s;
  visibility: visible;
}

.slide-in-from-left {
  animation: slide-in-from-left 1.8s ease-in-out 0s;
  visibility: visible;
}

.slide-in-from-right {
  animation: slide-in-from-right 2s ease-in-out 0s;
  visibility: visible;
}

.fade-in-opacity {
  animation: fade-in-opacity 2s ease 500ms;
}

.fade-in-opacity-2 {
  animation: fade-in-opacity 3s ease 500ms;
  visibility: visible;
}

.rise-from-bottom {
  animation: rise-from-bottom 500ms ease-in-out 0s;
  visibility: visible;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

/* ******KEYFRAMES**** */
@keyframes fall-from-top {
  0% {
    opacity: 0;
    transform: translateY(-150%);
  }

  33% {
    opacity: 0.3;
  }

  66% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes wheelScrolled {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rise-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  50% {
    opacity: 0.3;
  }

  80% {
    transform: translateX(10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-in-from-right {
  0% {
    opacity: o;
    transform: translateX(100%);
  }

  50% {
    opacity: 0.3;
  }

  80% {
    transform: translateX(-10%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-in-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fast-fall-from-top {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

/* Media Queries */

@media screen and (max-width: 1360px) {

  /* Card-1 ( Home Page ) */
  .code-word {
    font-size: 9em;
  }

  .last-name {
    font-size: 10em;
  }

  .intro-text {
    font-size: 18px;
  }

  .intro-text .author-of-quote {
    font-size: 26px;
  }

  .image-container {
    background-position: center;
  }

  #card-1 .scroll-button {
    width: 100%;
    height: 75px;
  }

  /* .contact-link-block {
    grid-row: 7/7;
  } */

  .project-description {
    width: 100%;
    left: auto;
    grid-column: 2/6;
  }

  .project-cards:nth-child(even) .project-description {
    left: auto;
    grid-column: 7/11;
  }

}

@media screen and (max-width: 1100px) {
  .project-description {
    left: auto;
    grid-column: 1/5;
  }

  .project-cards:nth-child(even) .project-description {
    left: auto;
    grid-column: 6/10;
  }

}

@media screen and (max-width: 960px) {

  /* medium devices -- Tablets -- */
  .last-name {
    font-size: 9em;
    top: 440px;
  }

  .project-description {
    font-size: 2.5em;
    width: 100%;
    left: auto;
  }

  .project-cards:nth-child(even) .project-description {
    left: auto;
  }

  .card-description {
    font-size: 20px;
  }

}

@media screen and (max-width: 740px) {
    /* Mobile Menu */
    #closeMobileMenuButton {
      display: block;
    }
  
    .hamburger-menu {
      display: flex;
    }
  
    /* Hamburger Menu */
    #hamburgerMenuContainer {
      display: none;
    }
  
    .hamburger-menu {
      display: flex;
      z-index: 10;
      height: 25px;
      transition: all 1s ease-in-out;
      justify-content: center;
    }
  
    .hamburger-menu:hover {
      cursor: pointer;
    }
  
    .hamburger-menu span:after,
    .hamburger-menu span:before {
      content: "";
      position: absolute;
      left: 0;
      top: 9px;
    }
  
    .hamburger-menu span:after {
      top: 18px;
    }
  
    .hamburger-menu span {
      position: relative;
      display: block;
    }
  
    .hamburger-menu span,
    .hamburger-menu span:after,
    .hamburger-menu span:before {
      width: 25px;
      height: 3px;
      background-color: #97730e;
      transition: all 0.3s;
      backface-visibility: hidden;
      border-radius: 2px;
    }
  
  
    .hamburger-menu.toggle-active span:before {
      transform: rotate(400deg) translate(-1px, 0px);
    }
  
    .hamburger-menu.toggle-active span:after {
      transform: rotate(-400deg) translate(6px, -7px);
    }
  
    .hamburger-menu.toggle-active span {
      background-color: transparent;
    }
  
  
    #closeMobileMenuButton {
      display: block;
    }
  
    #menuBarWrapper {
      display: none;
    }
  
    #hamburgerWrapper {
      position: fixed;
      bottom: 0;
      justify-content: center;
      right: 0;
      width: 100%;
      z-index: 111;
      display: flex;
      background: #97730e;
      background: linear-gradient(142deg, #97730e 0%, #c0941c 100%);
    }
  
    #hamburgerWrapper .iconLinks {
      color: #fff;
      font-size: 14px;
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .iconLinks i {
      font-size: 20px;
    }
  
    #hamburgerMenuContainer {
      display: flex;
      padding-top: 5px;
      width: 50px;
      align-items: center;
      background: #fff;
      justify-content: center;
      border-radius: 50%;
      height: 50px;
      bottom: 25px;
      box-shadow: 0px 2px 10px 2px #0000005c;
      position: relative;
    }
  
    #closeMobileMenuButton.fa-times {
      color: #fff;
      right: 7%;
      top: 20px;
      position: fixed;
      font-size: 3rem;
      z-index: 11;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }
  
    #closeMobileMenuButton.fa-times.on {
      opacity: 1;
    }
  
  
    #mobileMenuWrapper {
      position: fixed;
      z-index: 100;
      height: 100%;
      background: #fff;
      bottom: 0;
      display: flex;
      justify-content: center;
      visibility: hidden;
      transform: translateY(100%);
      transition: transform 350ms ease-in-out;
    }
  
    #mobileMenuWrapper.mobileOn {
      width: 100%;
      visibility: visible;
    }
  
    #secondaryMobileMenu.mobileOn {
      visibility: visible;
    }
  
    #mobileMenuWrapper.translateUp {
      transform: translateY(0%);
    }
  
    #secondaryMobileMenu.translateUpTwo {
      transform: translateY(225px);
      visibility: visible;
    }
  
    #mobileMenuOverlay {
      width: 100%;
      z-index: 10;
      height: 100%;
      position: fixed;
      background: rgba(0, 0, 0, 0.6);
      right: 0;
      opacity: 0;
      visibility: hidden;
    }
  
    #mobileMenuOverlay.fadeIn {
      visibility: visible;
    }
  
    #mobileMenu {
      display: flex;
      margin-top: 20px;
      flex-direction: column;
      width: 100%;
    }
  
    .mobileLi {
      list-style: none;
      font-size: 2rem;
      padding: 10px;
      box-sizing: border-box;
      border-bottom: 1px solid #d3d1d1;
      position: relative;
    }
  
    .mobileLinks {
      color: #000;
      font-size: 2.4rem;
    }



    .workButton {
      width: 70%;
  }
    .workButton a {
      font-size: 1.4rem;
      padding: 10px 20px;
      background: #97730e;
  }
  #mainSection {
    height: 80vh;
  }
.nameContainer {
  margin: 0 auto;
  width: 80%;
}

  h2.name {
    flex-basis: auto;
    padding-left: 10px;
    justify-content: space-between;
  }

  .title {
    font-size: 5rem;
  }

  #card-1 .main-ul {
    /* display: flex; */
    flex-basis: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }

  .main-nav {
    justify-content: space-between;
  }

  li.main-li {
    padding: 0;
    width: auto;
    list-style: none;
  }

  .main-links {
    color: #fff;
  }

  .main-links:active {
    color: #97730e;
  }

  .main-ul {
    display: none;
  }

  .code-word-container {
    grid-row: 3/4;
    grid-column: 1/7;
    z-index: 10;
    width: 100%;
  }

  .code-word {
    font-size: 6em;
    transform: none;
  }

  .last-name {
    font-size: 7em;
    grid-row: 4/4;
    grid-column: 1/7;
    position: inherit;
  }

  .intro-container {
    display: none;
  }

  .color-block {
    display: none;
  }

  .image-container {
    width: 100%;
    grid-column: 1/10;
    grid-row: 1/9;
    height: 100%;
  }

  #card-1 .scroll-button {
    display: none;
  }

  .contact-link-block {
    grid-row: 5/5;
    grid-column: 1/6;
  }

  .card-title {
    font-size: 4rem;
  }
#card-3 {
  width: 100%;
  padding: 0;
  margin: 100px 0;
}
  #card-3 .project-cards {
    display: flex;
    flex-direction: column-reverse;
    margin: 50px;
    height: auto;
  }

  .big-project-container {
    height: 100%;
  }

  .project-description {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    margin: 0px;
    text-align: left;
    font-size: 3em;
    display: block;
    text-align: center;
  }

  .about-me-description-image-container {
    flex-direction: column;
    padding: 10px;
  }

  .card-4-container {
    opacity: 1;
  }

  p.card-4.card-description {
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.8rem;
    font-weight: 100;
  }


  .main-footer .footer-links {
    width: 25%;
  }

  .small-image-container,
  .big-image-container {
    transform: none;
    width: 100%;
    display: block;
    height: 100%;
    margin: 0;
  }

  .project-link {
    grid-row: 1/8 !important;
  }
  #card-4 {
    margin: 0;
    padding: 0;
    width: auto;
  }
}

@media screen and (max-width: 500px) {


  /* end of mobile menu */
  .title {
    font-size: 3rem;
  }

  .last-name {
    font-size: 5em;
  }

  .project-cards {
    display: flex;
  }

  .small-image-container,
  .big-image-container {
    margin: 0;
  }

  .project-description,
  .small-project-container,
  .big-project-container {
    opacity: 1;
  }

  .project-link.keehn,
  .project-link.knight,
  .project-link.placeholder {
    height: 350px;
  }

  .small-image-container img {
    height: 100%;
    ;
  }

  #card-4 {
    width: 100%;
  }

  .icon-container {
    padding: 5px;
  }

  .main-footer .footer-links li a {
    white-space: nowrap;
  }

  #card-2 .fa-github {
    font-size: 100px;
  }

  .main-footer .company-icons {
    display: none;
  }

  .small-project-container {
    display: block;
    height: 100%;
  }

  .project-description {
    grid-row: 5/6;
  }

  .main-nav {
    justify-content: flex-end;
  }

  .main-nav h2 {
    display: none;
  }

  .main-nav i {
    display: none;
  }

  .skills {
    visibility: visible;
  }
}