.top-node {
  background: #fff;
  color: #666;
  font-family: "Kreon", serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.hide {
  visibility: hidden;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  background: #e3e6eb;
}

#card-2 {
  padding-bottom: 100px;
}

#card-1 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
  background: rgb(227, 230, 235);
}

.main-nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0%;
  z-index: 1001;
  padding-top: 5px;
  width: 100%;
  animation: fade-in-opacity 1s ease-in-out 0s 1;
}

.main-ul {
  display: none;
}

.main-ul.on {
  display: flex;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease-in-out;
}

li.main-li {
  padding: 0 25px;
  width: 100px;
}

.main-li.home {
  animation: rise-from-bottom 0.8s ease-in-out 0s 1;
}

.main-li.resume {
  animation: rise-from-bottom 0.6s ease-in-out 0s 1;
}

.main-li.about {
  animation: rise-from-bottom 0.5s ease-in-out 0s 1;
}

a.main-links {
  font-size: 1.3em;
  font-family: "Kreon", serif;
  position: relative;
  cursor: pointer;
  padding: 8px 0;
  color: #000;
  text-decoration: none;
  padding: 0;
  transition: all ease-in-out 300ms;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a.main-links:hover {
  color: #42a5f5;
  text-decoration: none;
}

a.main-links::before,
a::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -2px;
  background: #42a5f5;
  width: 0%;
}

a.main-links::before {
  left: 0;
  font-size: 16px;
}

a.main-links::after {
  right: 0;
  background: #42a5f5;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a.main-links:hover:before {
  background: #42a5f5;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a.main-links:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.contact-link-block {
  grid-column: 6/7;
  grid-row: 4/5;
  position: relative;
  justify-self: center;
  align-self: center;
  z-index: 1;
}

.contact-ul {
  margin: 0;
  padding: 0;
}

.contact-li {
  list-style: none;
  text-transform: uppercase;
}

.contact-link {
  display: inline-block;
  text-decoration: none;
  color: #0d47a1;
  padding: 20px 40px;
  transition: all ease-in-out 300ms;
  font-size: 20px;
  background: rgb(227, 230, 235);
}

.contact-link:hover {
  color: #fff;
  background: #0d47a1;
}

.color-block {
  background: #90caf9;
  height: 100%;
  grid-column: 6/6;
  grid-row: 1/9;
  width: 80%;
}

h2.name {
  flex-basis: 100%;
  font-family: "kreon", cursive;
  padding-left: 20px;
  letter-spacing: 1px;
  font-size: 30px;
  color: #000;
  margin: 0;
  text-transform: uppercase;
}

.image-container {
  background: url(DylanS.jpg);
  width: 100%;
  grid-column: 3/5;
  grid-row: 3/6;
  position: relative;
  min-width: 500px;
  height: 400px;
  background-position: 50% 15%;
  background-size: 100%;
}

.code-word-container {
  grid-row: 1/4;
  grid-column: 1/4;
  align-self: center;
  justify-self: center;
}

.code-word {
  font-size: 11em;
  color: #000;
  font-family: "Anton", sans-serif;
  transform: rotate(-90deg);
  animation: fade-in-opacity 2s ease-in-out 0s 1;
}

.last-name {
  font-size: 14em;
  position: absolute;
  z-index: 1;
  top: 400px;
  color: #42a5f5;
  font-family: "Anton", sans-serif;
  left: 10%;
  animation: slide-in-from-left 1.8s ease-in-out 0s;
}

.intro-container {
  position: relative;
  display: inline-flex;
  grid-column: 6 / 8;
  grid-row: 3 / 4;
  text-align: center;
  flex-direction: column;
  animation: fade-in-opacity 2s ease-in-out 0s 1;
}

.intro-header {
  margin: 0;
  font-size: 4em;
  position: relative;
  top: 30px;
  color: #0e0e0e;
  font-weight: bold;
  z-index: 12;
  text-align: left;
}

.intro-text {
  margin: 0;
  font-size: 22px;
  color: #000000;
  padding: 27px 0px;
  box-sizing: border-box;
  letter-spacing: 2px;
  line-height: 1.5em;
  z-index: 100;
  font-weight: 800;
  text-align: left;
}

.about-me-text span {
  color: #0d47a1;
  font-size: 28px;
}

#card-1 .scroll-button:hover {
  color: #0d47a1;
  transition: all 0.2s ease-in-out;
}

#card-1 .scroll-button {
  position: relative;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #000000;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
  grid-row: 8 / 8;
  grid-column: 5 /5;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  width: 50%;
  height: 75%;
}

#card-1 .scroll-button span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #0e0e0e;
  border-radius: 50px;
  box-sizing: border-box;
}

#card-1 .scroll-button span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #0e0e0e;
  border-radius: 100%;
  -webkit-animation: wheelScrolled 2s infinite;
  animation: wheelScrolled 2s infinite;
  box-sizing: border-box;
}

#card-1 .scroll-button span:hover {
  border: 2px solid #0d47a1;
  transition: all 0.2s ease-in-out;
}

.skills:hover .skill-title {
  color: #fff;
}

.random-image {
  background: url(annie10.jpg);
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

#card-2 {
  width: 100%;
  position: relative;
  z-index: 1000;
  background: rgb(227, 230, 235);
}

.multi-color-bg {
  background: rgb(227, 230, 235);
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  align-content: center;
  justify-content: space-evenly;
  margin: 0 auto;
}

.skills {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #b7b6b6;
  min-width: 225px;
  height: 300px;
  margin: 10px;
  box-sizing: border-box;
  flex-basis: 15%;
  transition: all ease 300ms;
}

.skills:hover {
  background: #90caf9;
}

.skills:hover .fa-js {
  color: #f0db4f;
}

.skills:hover .fa-css3-alt {
  color: rgb(38, 77, 228);
}

.skills:hover .fa-drupal {
  color: rgb(0, 114, 192);
}

.skills:hover .fa-html5 {
  color: #e54c21;
}

.skills:hover .fa-git-square {
  color: rgb(240, 80, 51);
}

.skills:hover .fa-github {
  color: #000;
}

.skill-title {
  color: #000;
  font-size: 34px;
  margin: 0px 2px;
  font-size: 28px;
  transition: all ease 300ms;
}

.fa-drupal,
.fa-js,
.fa-html5,
.fa-css3-alt,
.fa-github,
.fa-git-square {
  font-size: 100px;
  color: black;
  transition: all ease 300ms;
}

.skill-card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.card-title {
  font-size: 38px;
  border-bottom: 2px solid #90caf9;
  border-top: 2px solid #90caf9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 10px 0;
  color: black;
  background: rgb(227, 230, 235);
}

.card-description {
  font-size: 22px;
  color: #040404;
  font-weight: 600;
  margin: 20px 0;
  width: 100%;
  text-align: center;
}

.card-4.card-description {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: left;
}

/* Start of Card3 / projects */
.sidebar-left {
  width: 90%;
  margin: 0 auto;
  background: #e3e6eb;
  padding: 10px 10px 100px 10px;
  box-sizing: border-box;
}

.project-cards {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0;
}

.project-cards:nth-child(even) {
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.small-project-container {
  flex-basis: 50%;
  display: flex;
  box-sizing: border-box;
  height: fit-content;
  justify-content: flex-start;
  visibility: hidden;
}

.small-image-container {
  background: url(project1.jpeg);
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
  height: 300px;
  box-sizing: border-box;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.big-project-container {
  flex-basis: 50%;
  display: flex;
  box-sizing: border-box;
  height: fit-content;
  order: 2;
  visibility: hidden;
}

.big-image-container {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;
  height: 300px;
  box-sizing: border-box;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.big-project-container:nth-child(even) {
  flex-direction: row-reverse;
}

.project-description {
  visibility: hidden;
  width: 50%;
  position: relative;
  padding: 20px;
  text-align: left;
  font-size: 20px;
  color: #040404;
  box-sizing: border-box;
  margin: 20px 0;
  align-self: center;
  background: #cccccc;
  z-index: 1;
  box-shadow: 2px 25px 30px -30px;
}

.projects-name {
  color: #00bbbb;
  font-size: 1.7em;
  position: absolute;
  top: 65%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000;
  width: 100px;
}

a.projects-hover-effect {
  transition: all ease-in-out 800ms;
}

a.projects-hover-effect:hover {
  transform: scale(1.2);
  opacity: 0.75;
  overflow: hidden;
}

.big-image-container img {
  width: 100%;
}

.scrolled-nav-background {
  background: #ffffff4d;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 0px 5px 0px #888484;
}

.fall-in-animation {
  animation: fall-from-top 2s ease 0s;
  visibility: visible;
}

.slide-in-from-left {
  animation: slide-in-from-left 1.8s ease-in-out 0s;
  visibility: visible;
}

.slide-in-from-right {
  animation: slide-in-from-right 2s ease-in-out 0s;
  visibility: visible;
}

.fade-in-opacity {
  animation: fade-in-opacity 2s ease 500ms;
  visibility: visible;
}

.fade-in-opacity-2 {
  animation: fade-in-opacity 3s ease 500ms;
  visibility: visible;
}

.rise-from-bottom {
  animation: rise-from-bottom 1s ease-in-out 700ms;
  visibility: visible;
}

/* test code */

.toggle-mnu {
  width: 28px;
  height: 28px;
  padding: 10px;
}

.toggle-mnu:hover {
  cursor: pointer;
}

.toggle-mnu span:after,
.toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}

.toggle-mnu span:after {
  top: 18px;
}

.toggle-mnu span {
  position: relative;
  display: block;
}

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
  width: 28px;
  height: 3px;
  background-color: #0e0e0e;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

.toggle-mnu.toggle-active span {
  background-color: transparent;
}

.toggle-mnu.toggle-active span:before {
  transform: rotate(400deg) translate(-1px, 0px);
}

.toggle-mnu.toggle-active span:after {
  transform: rotate(-400deg) translate(6px, -7px);
}

#card-4 {
  background: #90caf9;
  border-top: 2px solid #000;
  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}

.card-4-container {
  display: flex;
  visibility: hidden;
}

.contact-container,
.about-me-container {
  width: 50%;
  box-sizing: border-box;
}

.about-me-container {
  border-right: solid 2px #000;
}

.card-4-ul {
  display: flex;
  flex-flow: column;
  padding: 0;
  margin: 0;
}

.card-4-ul li {
  list-style-type: none;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.email {
  font-size: 26px;
  color: #000;
  text-decoration: none;
  transition: all ease 300ms;
}

.email:hover,
.fa-envelope {
  color: #fff;
}

.fa-phone,
.fa-envelope {
  color: black;
  padding: 5px;
  font-size: 26px;
}

.card-4.card-title {
  border: none;
  background: none;
}

.main-footer {
  background: #0d47a1;
  width: 100%;
  display: flex;
  padding: 10px;
}

.main-footer .footer-links {
  width: 25%;
}

.main-footer .footer-links li {
  list-style: none;
  transition: all ease 300ms;
}

.main-footer .footer-links li:hover {
  padding-left: 10px;
}

.main-footer .footer-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.company-icons i {
  font-size: 30px;
  display: flex;
  color: white;
  transition: all ease 300ms;
}

.company-icons .fa-envelope {
  font-size: 20px;
}

.main-footer .company-icons {
  width: 25%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.company-icons li {
  list-style: none;
  padding-right: 5px;
}

.company-icons li a {
  text-decoration: none;
}

.icon-container {
  border: 2px solid #000;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: 30px;
  transition: all ease 300ms;
}

.icon-container:hover {
  background-color: black;
}

.icon-container:hover i {
  color: #42a5f5;
}

.footer-links li a i {
  padding-right: 10px;
}

.copyright {
  color: #fff;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.copyright p {
  margin: 0;
}


/* Animations */
.fall-in-animation {
  animation: fall-from-top 2s ease 0s;
  visibility: visible;
}

.slide-in-from-left {
  animation: slide-in-from-left 1.8s ease-in-out 0s;
  visibility: visible;
}

.slide-in-from-right {
  animation: slide-in-from-right 2s ease-in-out 0s;
  visibility: visible;
}

.fade-in-opacity {
  animation: fade-in-opacity 2s ease 500ms;
}

.fade-in-opacity-2 {
  animation: fade-in-opacity 3s ease 500ms;
  visibility: visible;
}

.rise-from-bottom {
  animation: rise-from-bottom 500ms ease-in-out 0s;
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}
/* ******KEYFRAMES**** */

@keyframes fall-from-top {
  0% {
    opacity: 0;
    transform: translateY(-150%);
  }

  33% {
    opacity: 0.3;
  }

  66% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes wheelScrolled {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rise-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  50% {
    opacity: 0.3;
  }

  80% {
    transform: translateX(10%)
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-in-from-right {
  0% {
    opacity: o;
    transform: translateX(100%);
  }

  50% {
    opacity: 0.3;
  }

  80% {
    transform: translateX(-10%)
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-in-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}