@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.top-node {
  background-color: #ffffff;
  color: #666;
  font-family: "Kreon", serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
.hide {
  visibility: hidden;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.card-1 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 1000px;
  background: rgb(227, 230, 235);
}

.main-nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0%;
  z-index: 1001;
  padding-top: 5px;
  width: 100%;
  animation: fade-in-opacity 1s ease-in-out 0s 1; 
}

.main-ul {
 display: none;
}
.main-ul.on {
  display: flex;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all .5s ease-in-out;
  /* animation: slide-in-from-right .3s ease-in-out 0s 1; */
}

li.main-li {
  padding: 0 25px;
}
.main-li.home {
  animation: rise-from-bottom .8s ease-in-out 0s 1;
}
.main-li.resume {
  animation: rise-from-bottom .6s ease-in-out 0s 1;
}
.main-li.about {
  animation: rise-from-bottom .5s ease-in-out 0s 1;
}

a.main-links {
  font-size: 1.3em;
  font-family: "Oleo Script", sans-serif;   /*love babi code long time <3*/
  position: relative;
  cursor: pointer;
  padding: 8px 0;
  color: #000;
  text-decoration: none;
  padding: 0;
  transition: all ease-in-out 300ms;
}

a.main-links:hover {
  color: #aa6afd;
  text-decoration: none;
}

a.main-links::before,
a::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -2px;
  background: #aa6afd;
  width: 0%;
}

a.main-links::before {
  left: 0;
  font-size: 16px;
}

a.main-links::after {
  right: 0;
  background: #aa6afd;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a.main-links:hover:before {
  background: #aa6afd;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a.main-links:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.contact-link-block {
  grid-column: 5/9;
  grid-row: 5/5;
  position: relative;
  justify-self: center;
  align-self: center;
  z-index: 1;
}
.contact-ul {
  margin: 0;
  padding: 0;
}

.contact-li {
  list-style: none;
  text-transform: uppercase;
}

.contact-link {
  display: inline-block;
  text-decoration: none;
  color: #7d2fe2;
  padding: 20px 40px;
  transition: all ease-in-out 300ms;
  font-size: 20px;
  background: rgb(227, 230, 235);
}

.contact-link:hover {
  color: #fff;
  background: #7d2fe2;
}
.color-block {
  background: linear-gradient(355deg, rgba(170,106,253,1) 0%, rgba(125,47,226,1) 100%);
  height: 100%;
  grid-column: 6/6;
  grid-row: 1/9;
  width: 80%;
}

h2.name {
  flex-basis: 100%;
  font-family: "Oleo Script", cursive;
  padding-left: 20px;
  letter-spacing: 1px;
  font-size: 30px;
  color: #000;
  margin: 0;
  text-transform: uppercase;
}

.image-container {
  background: url(image-container-bg.jpeg);
  width: 100%;
  grid-column: 3/7;
  grid-row: 4/6;
  position: relative;
  min-width: 500px;
  height: 400px;
  background-position: 100% 100%;

}

.name-container {
  position: absolute;
  width: 45%;
  height: 100%;
  padding-left: 30px;
}

.first-name {
  font-size: 18em;
  width: 100%;
  position: relative;
  color: #000;
  left: 15%;
  font-family: 'Anton', sans-serif;
}

.last-name {
  font-size: 18em;
  position: absolute;
  z-index: 1;
  color: #7d2fe2;
  top: 350px;
  font-family: 'Anton', sans-serif;
  left: 10%;

}

.about-me-container {
  position: relative;
  display: inline-flex;
  grid-column: 6 / 8;
  grid-row: 4 / 4;
  text-align: center;
  flex-direction: column;
}

.about-me-header {
  margin: 0;
  font-size: 4em;
  position: relative;
  top: 30px;
  color: #0e0e0e;
  font-weight: bold;
  z-index: 12;
}

.about-me-text {
  margin: 0;
  font-size: 22px;
  color: #aa6afd;
  padding: 27px 0px;
  box-sizing: border-box;
  letter-spacing: 2px;
  line-height: 1.5em;
  z-index: 100;
  font-weight: 800;
}


.card-2 {
  background: rgb(227, 230, 235);
  width: 100%;
  position: relative;
  z-index: 1000;
}
.multi-color-bg {
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-content: center;
  justify-content: space-evenly;
}

.skills {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid #656565;
  background: #b7b6b6;
  min-width: 250px;
  height: 200px;
  box-shadow: 3px 2px 5px #5a5a5a;
  margin: 10px 0;
}
.skills-logo {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
}
.skill-title {
  color: #000;
  margin: 0px 2px;
}
.skills-text {
  color: #fff;
}
/* Start of Card3 / projects */
.sidebar-left {
  width: 70%;
}

.project-cards {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 0;
}
.project-cards:nth-child(even) {
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.small-project-container {
  flex-basis: 50%;
  display: flex;
  box-sizing: border-box;
  height: fit-content;
  justify-content: flex-start;
}

.small-image-container {
  background: url(project1.jpeg);
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
  height: 200px;
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px #444;
  position: relative;
  overflow: hidden;
}

.dentistry-container {
  flex-basis: 40%;
  display: flex;
  box-sizing: border-box;
  height: fit-content;
  justify-content: flex-end;
}

.small-image-dentistry {
  background: url(dentistry.jpeg);
  background-size: cover;
  display: flex;
  flex-basis: 100%;
  height: 200px;
  justify-content: flex-end;
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px #444;
  position: relative;
  overflow: hidden;
}
.big-project-container {
  flex-basis: 60%;
  display: flex;
  box-sizing: border-box;
  height: fit-content;
  order: 2;
}
.big-image-container {
  /*background: url(annie10.jpg);
  background-size: cover; */
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;
  height: 200px;
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 2px 2px 2px 2px #444;
  position: relative;
  overflow: hidden;
}
.projects-name {
  color: #00bbbb;
  font-size: 1.7em;
  position: absolute;
  top: 65%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000;
  width: 100px;
}

a.projects-hover-effect {
  transition: all ease-in-out 800ms;
}

a.projects-hover-effect:hover {
  transform: scale(1.2);
  opacity: .75;
  overflow: hidden;
}

.big-image-container img {
  width: 100%;
  height: 250px;
  transform: translateY(-20%);
}

.sidebar-right {
  width: 27%;
  padding: 5px;
  margin: 10px;
  background: #999;
  box-shadow: 0px 0px 5px 3px #444;
  color: white;
}

.scrolled-nav-background {
  background : pink;
  transition: background 300ms ease-in-out;
  box-shadow: 0px 2px 5px 2px #0e0e0e;
  position: fixed;
}

.fall-in-animation {
  animation: fall-from-top 1s ease-in-out 0s 1;
  visibility: visible;
}


/* test code */

.toggle-mnu {
  width: 28px;
  height: 28px;
  padding: 10px;
}
.toggle-mnu:hover {
  cursor: pointer;
}
.toggle-mnu span:after, .toggle-mnu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}
.toggle-mnu span:after {
  top: 18px;
}
.toggle-mnu span {
  position: relative;
  display: block;
}
.toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
  width: 28px;
  height: 3px;
  background-color:#0e0e0e;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
.toggle-mnu.toggle-active span {
  background-color: transparent;
}
.toggle-mnu.toggle-active span:before {
  transform: rotate(400deg) translate(-1px, 0px);
}
.toggle-mnu.toggle-active span:after {
  transform: rotate(-400deg) translate(6px, -7px);
}


/* ******KEYFRAMES**** */

@keyframes fall-from-top {
  0% {
    opacity: 0;
    transform: translateY(-150%);
  }
  33% {
    opacity: 0.3;
  }
  66% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes rise-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-in-from-right {
  0% {
    opacity: o;
    transform: translateX(100%);
  }
  50% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes fade-in-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-1 .scroll-button span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #0e0e0e;
  border-radius: 50px;
  box-sizing: border-box;
}

.card-1 .scroll-button {
  position: relative;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #000000;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  grid-row: 8/8;
  grid-column: 3/7;
  text-align: center;
}

.card-1 .scroll-button {
  padding: 60px 10px 10px;
}
.card-1 .scroll-button span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #0e0e0e;
  border-radius: 50px;
  box-sizing: border-box;
}
.card-1 .scroll-button span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #0e0e0e;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}













